:root {
    --fineprint: 12px;
    --text: "Noto Serif", serif;
    --text-color: white;
    font-size: 10px;
}

body {
    display: grid;
    grid-template-columns: 40% 60%;
    overflow-x: hidden;
    height: 100vh;
    background-color: rgb(37, 37, 37);
}

p {
    font-family: var(--text);
    font-size: var(--fineprint);
    color: var(--text-color);
    text-align: center;
}

.image {
    background-image: url("/media/mathias-reding-6FGyKAJwtRc-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}