:root {
    --fineprint: 12px;
    --text: "Noto Serif", serif;
    --text-spacing: -1px;
    --baseline-color: white;
    font-size: 10px;
    font-family: var(--text);
}

body {
    display: grid;
    grid-template-columns: 40% 60%;
    overflow-x: hidden;
    height: 100vh;
    background-color: rgb(37, 37, 37);
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 18px;
}

h1, h2 {
    font-family: var(--text);
    color: var(--baseline-color);
    text-align: center;
}

p {
    font-family: var(--text);
    font-size: var(--fineprint);
    color: var(--baseline-color);
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(74, 204, 255);
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.image {
    background-image: url("/media/mathias-reding-6FGyKAJwtRc-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}

.banner {
    position: absolute;
    width: 100%;
    top: 45%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
}

svg {
    width: 10%;
}

svg a {
    transition: 0.3s ease;
}

svg a:hover {
    transition: 0.3s ease;
    opacity: 0.8;
}

.form-cntr {
    box-shadow: 0 0 6px 3px rgb(30, 30, 30) inset;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 0;
}

fieldset {
    display: flex;
    border: none;
    margin: 10px 0;
}

fieldset div {
    padding: 0 20px;
}

label {
    display: block;
    font-size: var(--fineprint);
    color: var(--baseline-color);
    font-weight: 700;
    padding-bottom: 3px;
    letter-spacing: var(--text-spacing);
}

input {
    -webkit-appearance: none;
    appearance: none;
    background-color: rgb(37, 37, 37);
    border: 1px solid rgb(122, 122, 122);;
    border-radius: 3px;
    width: 200px;
    height: 23px;
}

input:focus {
    outline: none;
    border: 1px solid rgb(74, 204, 255) 
}

input[type="text"], input[type="tel"], input[type="email"], input[type="password"] {
    font-size: 1.4rem;
    color: var(--baseline-color);
    letter-spacing: var(--text-spacing);
}

input + span {
    position: relative;
}

input:required + span::after {
    display: inline-block;
    position: absolute;
    vertical-align: middle;
    top: -23px;
    right: 0;
    padding: 0 5px;
    border-radius: 2px;
    content: "required";
    color: var(--baseline-color);
    background-color: rgba(249, 85, 25, 0.8);
    font-size: var(--fineprint);
    letter-spacing: var(--text-spacing);
}

.create-cntr {
    padding-top: 2%;
}

.create-cntr > button {
    -webkit-appearance: none;
    appearance: none;
    background-color: rgba(249, 85, 25, 0.8);
    box-shadow: 0 0 6px 1px rgb(34, 34, 34) inset;
    font-weight: bold;
    font-size: var(--fineprint);
    letter-spacing: var(--text-spacing);
    color: var(--baseline-color);
    border: none;
    border-radius: 5px;
    padding: 12px 40px;
    transition: 0.3s ease;
}

button:hover {
    cursor: pointer;
    background-color: rgba(249, 85, 25, 1);
    transition: 0.3s ease;
}