:root {
    --fineprint: 12px;
    --text: "Noto Serif", serif;
    --baseline-color: white;
    font-size: 10px;
    font-family: var(--text);
}

body {
    display: grid;
    grid-template-columns: 40% 60%;
    overflow-x: hidden;
    height: 100vh;
    background-color: rgb(37, 37, 37);
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 18px;
}

h1, h2 {
    font-family: var(--text);
    color: var(--baseline-color);
    text-align: center;
}

p {
    font-family: var(--text);
    font-size: var(--fineprint);
    color: var(--baseline-color);
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(74, 204, 255);
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.image {
    background-image: url("/media/mathias-reding-6FGyKAJwtRc-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}

.banner {
    position: absolute;
    width: 100%;
    top: 45%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
}

svg {
    width: 10%;
}

svg a {
    transition: 0.3s ease;
}

svg a:hover {
    transition: 0.3s ease;
    opacity: 0.8;
}

.form-cntr {
    box-shadow: 0 0 6px 3px rgb(30, 30, 30) inset;
    padding: 10%;
}

fieldset {
    display: flex;
    border: none;
    margin: 10px 0;
}

fieldset div {
    padding: 0 20px;
}

label {
    display: block;
    font-size: var(--fineprint);
    color: var(--baseline-color);
    font-weight: 700;
    padding-bottom: 3px;
    letter-spacing: -1px;
}

input {
    width: 200px;
    height: 20px;
}